@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

.image-placeholder {
    margin-top: 2em;
    /* border: 1px solid gainsboro */
}

.image-placeholder img {
    max-width: 100%;
}

.filterPlantsPanel {
    margin-right:20px;
}

.placeholder-one-plant {
    height: 20em;
}

.placeholder-one-plant img {
    max-width: 100%;
    max-height: 100%;
}

.placeholder-post-image {
    height: 20em;
}

.placeholder-post-image img {
    max-width: 100%;
    max-height: 100%;
}

.center {
    text-align: center;
}

.plant-parameters-list {
    list-style-type: none;
}

.detail {
    padding: 1em 0;
    /* border-bottom: 1px solid #eeeeee; */
}
.detail b {
font-size: 11px;
}
.detail p {
margin: 0;
font-size: 15px;
}

.plant-list-item-button  {
    color: #1976d2;
    text-decoration: none;
}

.plant-edit-button {
    color: white;
    text-decoration: none;
}

.plant-name-font {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 300;
}